{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="jumbotron text-center">
            <h1>Welcome {{session.username}}</h1>
            <p>Vote for best candidate:</p>
            <form method="POST" action="{{ url_for('dashboard') }} ">
                {% for candidate in candidate_list %}
                <div class="radio">
                    <label><input type="radio" name="candidate" value="{{ candidate.candidate_name }}">{{ candidate.candidate_name }}</label>
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
</div>

{% endblock %}
